header{
	text-align: center;
}
.QuoteContainer{
	margin-left: 10%;
	margin-right: 10%;

}
.quoteBlock{
}
.quoteBody{
	border:2px solid black;
	padding: 20px;

}
.quoteAuthor{
	text-align: center;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}