header{
	text-align: center;
}
.QuoteContainer{
	margin-left: auto;
	margin-right: auto;
}
.quote, .col-md-4{
	border:2px solid black;
	padding:0;
	margin:10px;
}
.quoteAuthor{
	text-align: center;
	font-size: 20px;
	border-bottom: 2px solid black;
}